/*-----------------------------------------------------------------------------------*/
/*	Navbar
/*-----------------------------------------------------------------------------------*/

.navbar .logo {
    display: none;
}

.banner--inverse-logo .logo {
    display: block;
}

.banner--inverse-logo .logo-light {
    display: none;
}

.navbar-brand .logo-mobile {
    max-width: 200px;
}

.navbar-brand .logo-mobile-xs {
    max-width: 150px;
}

.navbar-brand-small img {
    max-width: 160px;
}

/*-----------------------------------------------------------------------------------*/
/*	Container
/*-----------------------------------------------------------------------------------*/

.container-small {
    max-width: 800px;
}

/*-----------------------------------------------------------------------------------*/
/*	Footer
/*-----------------------------------------------------------------------------------*/

.footer-heart {
    font-size: 16px;
    margin-left: 2px;
    margin-right: 3px;
}

/*-----------------------------------------------------------------------------------*/
/*	Misc
/*-----------------------------------------------------------------------------------*/

.price-duration::before {
    display: none;
}

.package-extra-info {
    opacity: .5;
    font-size: 16px;
    margin-left: 4px;
}

.package-paragraph {
    opacity: .75;
    font-size: 18px;
    line-height: 1.5;
}

.faux-link {
    cursor: pointer;
}

.faux-link:hover {
    color: #ce8fad;
}